/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End of reset */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: url(images/clouds.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.top-section {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border-radius: 15px;
  width: 300px;
}

.app-name {
  font-size: 2rem;
}

.location-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.country-field {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  border: 1px solid white;
  border-radius: 3px;
}

.search-btn {
  background-color: rgb(91, 144, 222);
  border: none;
  border-radius: 3px;
  color: white;
  font-weight: bold;
}

.search-section {
  display: flex;
}

.weather-information {
  border-radius: 15px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  width: 300px;
}

.weather-item {
  margin-left: 60px;
}

.location-name {
  font-size: 1.8rem;
  align-self: center;
}

.weather-description {
  font-size: 1.4rem;
  margin-bottom: 20px;
  align-self: center;
}

.weather-img {
  border-radius: 15px;
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.6);
}
